/*preloader*/

@import url('https://fonts.googleapis.com/css?family=Montserrat');

#preloader {
  overflow: hidden;
  background: #ff8080; /*#9966ff*/
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 9999999;
  color: #fff;
}

#preloader .jumper {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  position: absolute;
  margin: auto;
  width: 50px;
  height: 50px;
}

#preloader .jumper > div {
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  opacity: 0;
  width: 50px;
  height: 50px;
  -webkit-animation: jumper 1s 0s linear infinite;
  animation: jumper 1s 0s linear infinite;
}

#preloader .jumper > div:nth-child(2) {
  -webkit-animation-delay: 0.33333s;
  animation-delay: 0.33333s;
}

#preloader .jumper > div:nth-child(3) {
  -webkit-animation-delay: 0.66666s;
  animation-delay: 0.66666s;
}

@-webkit-keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}



/*navbar*/


header {
	position: absolute;
	z-index: 99999;
	width: 100%;
	height:auto;
	background-color: #232323;  
	-webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
header .navbar {
	padding: 5px 0px;
	padding-top:15px;
}
.background-header .navbar {
	padding: 10px 0px;
}
.background-header {
	top: 0;
	position: fixed;
	background-color: #fff!important;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
}
.background-header .navbar-brand h2 {
	color: #121212!important;
}
.background-header .navbar-nav a.nav-link {
	color: #1e1e1e!important;
}
.background-header .navbar-nav .nav-link:hover,
.background-header .navbar-nav .active>.nav-link,
.background-header .navbar-nav .nav-link.active,
.background-header .navbar-nav .nav-link.show,
.background-header .navbar-nav .show>.nav-link {
	color: #f33f3f!important;
}
.navbar .navbar-brand {
	float: 	left;
	margin-top: -12px;
	outline: none;
}
.navbar .navbar-brand h2 {
	color: #fff;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 700;
	-webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}
.navbar .navbar-brand h2 em {
	font-style: normal;
	color: #f33f3f;
}
#navbarResponsive {
	z-index: 999;
}
.navbar-collapse {
	text-align: center;
}
.navbar .navbar-nav .nav-item {
	margin: 0px 15px;
}
.navbar .navbar-nav a.nav-link {
	text-transform: capitalize;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 0.5px;
	color: #fff;
	transition: all 0.5s;
	margin-top: 5px;
}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .active>.nav-link,
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link.show,
.navbar .navbar-nav .show>.nav-link {
	color: #fff;
	padding-bottom: 25px;
	border-bottom: 3px solid #262626;
}
.navbar .navbar-toggler-icon {
	background-image: none;
}
.navbar .navbar-toggler {
	border-color: #fff;
	background-color: #fff;	
	height: 36px;
	outline: none;
	border-radius: 0px;
	position: absolute;
	right: 30px;
	top: 20px;
}
.navbar .navbar-toggler-icon:after {
	content: '\f0c9';
	color: black; /*#8600b3*/
	font-size: 18px;
	line-height: 26px;
	font-family: 'FontAwesome';
}

@media only screen and (max-width:348px){
	
	.navbar .navbar-toggler {
	
	top:10px;
}

.navbar .navbar-nav .nav-link:hover
{
	color:red;
}

.navbar .navbar-nav .nav-link.active{

color:black;

}

}

@media only screen and (max-width: 992px){

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .active>.nav-link,
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link.show,
.navbar .navbar-nav .show>.nav-link {
	color: black;
	padding-bottom: 25px;
	border-bottom:1.5px solid black;
}

}




li{

	display:block;
	text-align:center;
	color:black;
	
}

/*clock*/


.clock{
	
	margin-top:20px; 
	font-family:verdana;
	
}

/*zoom*/

.zoom:hover{
	
	-ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
  transition:0.5s;
	
}
/*container*/

.container{
	
	width:100%;
	height:auto;
	
}
.container-fluid{
	width:100%;
	height:auto;
	margin:auto;
}
.container-fluid .section-heading h2{
	
	text-align:center;
	color:#9966ff;
	font-size:20px;
	font-weight:bold;
	font-family:verdana;
	margin-top:20px;
	margin-bottom:20px;
}


/*top-space*/

.top-space{
	
	margin-top:30px;
}

.navbar {

	box-shadow :0 2px 10px rgba(136, 136, 136, 1);
	background-color: #ff6666;
}

/* link */


a:link{
		
	color:red;	
	text-decoration:none;
	
	
}
a:hover {
  color:#ff944d;
}

.lo{
	
	margin-left:30px;
	height:60px; /*60px*/
	
}
@media only screen and (max-width:348px){
	
	.lo{
		
		height:40px;
		width:auto;
		margin-left: 20px;
	}
	
}


	.main{
		font-size:20px;
		letter-spacing:0.5px;
	}
	
	@media only screen and(max-width:430px){
		 .navbar .navbar-brand h2{     
         font-size:18px;	
		}
	}
	
	@media only screen and(max-width:352px){
		 .navbar .navbar-brand h2{     
         font-size:15px;	
		}
	}
	@media only screen and(max-width:310px){
		 .navbar .navbar-brand h2{     
         font-size:17px;	
		}
	}

	@media only screen and(max-width:600px){
		 body{     
         background-color:green;	
		}
	}
	
	
.lead{
	
	color:orange; 
	font-weight:bold;
	font-size:15px
	
}
.part1{

	margin-top:5px;
}
	

/*button*/


.btn {
  background-color:#ff4d4d; /*#9966ff*/
  border:none;
  color: black;
  padding: 14px 32px;
  text-align: center;
  font-size: 16px;
  float:left;
  margin: 4px 8px;
  transition: 0.3s;
  color:white;
  border-radius:3px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}

.btn:hover {
  background-color:#4c4c4c; /*#343a40*/
  color: white;
  transform:rotate(20deg);

}


/*image*/
img{
max-width:100%;
margin:auto;
}

/*card*/

.card{
margin:auto;
width:100%;
margin-bottom:20px;

}
.card-header{

padding:0px;

}

.card-radi{
	
	border-radius:20px;
	
}
.card-headline{
	
	margin-top:50px;
}


/*footer*/


footer{
	margin:auto;
}

.footer-top{

background:	#1a1a1a;
padding:40px;

}
footer h2{
 
 color:white;
 font-family:Montserrat;
 margin-bottom:40px;

}

footer p{

	color:#999;
	line-height:25px;
}
footer hr{

	border:0.8px solid #999;
}

footer a:link{
		
	color:white;	
	text-decoration:none;
	
	
}
footer a:hover {
  color:black;
}

.fa {
  padding: 20px;
  font-size: 15px;
  width: 50px;
  height:50px;
  text-align:center;
  text-decoration: none;
  margin: 2px 5px;
}

.fa:hover {
    opacity: 0.7;
	background-color::#9966ff;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  justify-content:center;
  
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.footer-bottom-text{
	
	margin-top:0px;
	margin-left:30px;
	text-align:center;
	color: #fff;
}

@media only screen and (max-width:400px){
	
	.footer-bottom-text{
		font-size:10px;
		margin-left:auto;
	}
}

@media only screen and (max-width:588px){
	
	.footer-bottom-text{
		font-size:15px;
		margin-left:auto;
	}
}

@media only screen and (max-width:488px){
	
	.footer-bottom-text{
		font-size:12px;
		margin-left:auto;
	}
}

.update{

font-size:15px;
color:blue;
font-family:Verdana;
font-weight:bold;



}



/*corona*/
.no-cases{
	
	color:red;
}
.corona {

-webkit-filter: blur(1px); /* Safari 6.0 - 9.0 */
  filter: blur(1px);

}
/*box*/
.box{

width:100%;
background-color:#9966ff;
margin-top:30px;
height:500px;
overflow:auto;
}

.box .card{
	
	width:95%;
}



.text-block {
  position: absolute;
  margin:auto;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.small-samachar{
	
	color:white;
	
}


/*title*/
.title{
	font-size:25px;
	color:#cc0000; /*#9966ff*/
	font-weight:bold
	
}
/*horizontal line*/
hr{
	
	border:1px solid #9966ff;
}

/*fixed background*/

.fixed-back{
	
	background:url(../images/coronabg3.jpg);
	background-attachment:fixed;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	background-color:rgba(136,136,136,0.5);
	
}

@media only screen and (max-width:1353px){
	
	.zoom:hover{
	
		-ms-transform: none; /* IE 9 */
		-webkit-transform: none; /* Safari 3-8 */
		transform: none;
		transition:none;
	
}
	
}

@media only screen and (max-width:1353px){
	
	.btn:hover{
		
		transform:rotate(0deg);
		background-color:#9966ff;
		
	}
}

/*profile card*/
	.profile-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

	
	
.card-button{
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #9966ff;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card-title {
  color: grey;
  font-size: 18px;
}	



.member{

margin-top:30px;
font-size:20px;

}
.card-button:hover{
  opacity: 0.7;
}

@media only screen and (max-width:780px){
	.clock{
		font-size:15px;	
	}
}
@media only screen and (max-width:500px){
	.clock{
		font-size:10px;	
	}	
}

.card-top-space{
	
	margin-top:10px;
}

/*read more read less button*/

#more{
	display:none;
	
	
}
@media only screen and (max-width:992px){

	.navbar ul{
		background-color:#fff;
	}
	
	.navbar .navbar-nav a.nav-link{
		
		color:black;
		border-bottom:1px solid rgba(0,0,0,.2);
		
	}
	
}

/* home */

.home{

	filter: invert(1);	
}
@media only screen and (max-width: 992px){

	.home{

		filter:none;
	}
}


/*carousel slider icon settings*/

.sli{

	margin:150px 0 150px 0;

}

@media only screen and (max-width: 321px){

	.sli{

		margin:100px 0 100px 0;
	}

}


@media only screen and (max-width: 376px){

	.sli{

		margin:100px 0 100px 0;
	}

}

@media only screen and (max-width: 415px){

	.sli{

		margin:120px 0 150px 0;
	}

}

@media only screen and (max-width: 769px){

	.sli{

		margin:100px 0 250px 0;
	}

}

#my_centered_buttons { display: flex; justify-content: center; margin-bottom:30px;}

.copy{

	margin-top:50px;
}

.latest{

	background-color:#ffc106; 
	margin-left:0px; 
	margin-right:0px;
	color:black;
	padding-top: 5px;
	padding-bottom: 5px;
	box-shadow: 10px 0 10px 0 rgba(0,0,0,0.8);

}
.latest2{

	background-color:black; 
	margin-left:0px; 
	margin-right:auto;
	color:white;
	padding-right: 30px;
	padding-left: 30px;
	display: inline;
	padding-top: 5px;
	padding-bottom: 5px;
	box-shadow: 10px 0 10px 0 rgba(0,0,0,0.8);

}

@media only screen and (max-width:320px){

	.latest2{
	padding-right:15px;
	padding-left: 15px;
	
}

}

/*video stuck*/

.stuck {
	 position: fixed;
	 bottom: 50px;
	 right: 20px;
	 width: 300px;
	 height: 200px;
	 transform: translateY(5%);
	 animation: fade-in-up 0.75s ease forwards;
	z-index: 1;
	box-shadow: 0px 0 10px 0 rgba(0,0,0,0.8);
}

@media (max-width: 938px) and (min-width: 375px){

	.stuck {
	 position: fixed;
	 bottom: 50px;
	 right: 20px;
	 width: 200px;
	 height: 160px;
	 transform: translateY(5%);
	 animation: fade-in-up 0.75s ease forwards;
	z-index: 1;
	box-shadow: 0px 0 10px 0 rgba(0,0,0,0.8);
}

}

@media only screen and (max-width: 374px){

	.stuck {
	 position: fixed;
	 bottom: 50px;
	 right: 20px;
	 width: 180px;
	 height: 140px;
	 transform: translateY(5%);
	 animation: fade-in-up 0.75s ease forwards;
	z-index: 1;
	box-shadow: 0px 0 10px 0 rgba(0,0,0,0.8);
}
}